<div class="container">
  <h1><%= @list.name %></h1>
  <h2>Movies in the List</h2>
  <% if @list.bookmarks.any? %>
    <ul>
      <% @list.bookmarks.each do |bookmark| %>
        <li>
          <strong><%= bookmark.movie.title %></strong>
          <p><%= bookmark.movie.overview %></p>
          <p><%= bookmark.movie.rating %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No movies in this list.</p>
  <% end %>
  <%= link_to "Back to Lists", lists_path, class: "btn btn-secondary mt-3" %>
</div>
